<div class='custom'><h1>Custom Design</h1>{% form 'contact' %}<input name='contact[name]' type='text'><textarea name='contact[body]'></textarea><button type='submit'>Submit</button>{% endform %}</div>